Consider following code to answer further questions:

In [1]:
import pandas as pd

course_name = ['Data Science' , 'Machine Learning' , 'Big Data' , 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe,df.

In [2]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. Write the difference between the functions loc and iloc in pandas DataFrame?

Ans: loc() and iloc() are used in filtering the data according to some conditions. The main difference between pandas loc[] vs iloc[] is loc gets DataFrame rows & columns by labels/names and iloc[] gets by integer Index/position.

loc(): DataFrame.loc[] is label-based to select rows and/or columns in pandas. It accepts single labels, multiple labels from the list, indexes by a range (between two indexes labels), and many more loc is label-based, which means that we have to specify the name of the rows and columns that we need to filter out.

iloc() : DataFrame.iloc[] is a index-based to select rows and/or columns in pandas. It accepts a single index, multiple indexes from the list, indexes by a range, and many more.loc is integer index-based. So here, we have to specify rows and columns by their integer index.

Consider the below code to answer further question:

In [3]:
import pandas as pd
import numpy as np
columns = ['column_1' , 'column_2' , 'column_3' , 'column_4' , 'column_5' , 'column_6']
indices = [1,2,3,4,5,6]
#creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns , index = indices)

Q3. Reindex the given dataframe using a variable,reindex = [3,0,1,2] and store it in the variable,new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.Consider the below code to answer further questions:

In [4]:
new_df = df1.reindex([3,0,1,2])

In [5]:
new_df.loc[2]

column_1    0.990751
column_2    0.872878
column_3    0.416028
column_4    0.167302
column_5    0.246544
column_6    0.645947
Name: 2, dtype: float64

In [6]:
new_df.iloc[2]

column_1    0.401482
column_2    0.574682
column_3    0.979325
column_4    0.108969
column_5    0.721431
column_6    0.068050
Name: 1, dtype: float64

The difference between above code is:

new_df.loc[2] selects the row with label 2 from the DataFrame new_df. Since the DataFrame was reindexed, the label 2 corresponds to the row that was originally labeled 3 in df1. Thus, the output displays the values for that row.

On the other hand, new_df.iloc[2] selects the row with index position 2 from the DataFrame new_df. Since the DataFrame was reindexed, the row at index position 2 corresponds to the row that was originally at index position 1 in df1. Thus, the output displays the values for that row.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

1. mean of each and every column present in the dataframe.

2. standard deviation of column,'column_2'

In [7]:
#Average of all columns are:
df1.mean()

column_1    0.585547
column_2    0.467010
column_3    0.340780
column_4    0.171501
column_5    0.492467
column_6    0.423290
dtype: float64

In [8]:
#standard Deviation of column_2
df1['column_2'].std()

0.2918118370959316

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
df1.loc['column_2', 1] = "milan"